*{
    margin: 0;
    padding: 0;
}
#additional_page{
    position: relative;
    width:100%;
    /*height: 690px;*/
    background-color: #ECEBEB;
    display: none;
}
/*下拉菜单div*/
.article{
    width: 100%;
    top: 92px;
    /*top: 13%;*/
    position: absolute;
    /*background-color: #cfeee9;*/
}
.glide_one{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    /* line-height: 47%; */
    background-color: #FFFFFF;
    cursor: pointer;
    width: 99%;
}
.glide_one p{
    padding-top: 8px;
    padding-left: 12px;
    padding-bottom: 8px;
}
.glide_one>p:hover{
    text-decoration: underline;
}
.glide_two{
    width: 99%;
    align-items: center;
    margin-top: 4px;
     border-bottom: 1px solid black;
    /* line-height: 47%; */
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.glide_two p{
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.glide_two:hover{
    text-decoration: underline;
}
/*隐藏的div*/
.glide_hidden{
    /*height: 500px;*/
    background-color: #FFFFFF;
    display: none;
}
.glide_hidden p{
    padding-top: 8px;
    padding-left: 12px;
    padding-bottom: 8px;
    font-size: 20px;
}
.glide_hiddenText:hover{
    text-decoration: underline;
}
.glide_hiddenText{
    /* height: 35%; */
    cursor: pointer;
    border-bottom: 1px solid #D4D4D4;
    /* line-height: 47%; */
    margin-top: 6px;
}
.glide_hiddenText span{
    color: #F66F6A;
}
.glide_hiddenTwo{
    background-color: #FFFFFF;
    display: none;
}
.glide_hiddenTwo p{
    padding-top: 8px;
    padding-left: 12px;
    padding-bottom: 8px;
    font-size: 20px;
}
.glide_hiddenText:hover{
    text-decoration: underline;
}
.glide_hiddenTwo h3{
    background-color: #ECEBEB;
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/*.glide_hiddenTwo:hover{*/
    /*text-decoration: underline;*/
/*}*/
/*固定菜单div*/
.articleTwo{
    width: 99%;
    margin-top: 8px;
    height: 111px;
    /*background-color: #abcfee;*/
}
.glide_fixed{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    /* line-height: 47%; */
    background-color: #FFFFFF;
    cursor: pointer;
    width: 100%;
}
.glide_fixed p{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
}
.glide_fixed p:hover{
    text-decoration: underline;
}
/*第二个固定菜单*/
.glide_fixedO{
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    /* line-height: 47%; */
    background-color: #FFFFFF;
    cursor: pointer;
    width: 100%;
}
.glide_fixedO p{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
}
.glide_fixedO p:hover{
    text-decoration: underline;
}
/*登录界面*/
.enter{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    height: 42px;
    border-radius: 2px;
    background-color: #F66F6A;
    cursor: pointer;
}
.enter p{
    padding-left: 6px;
    color: #FFFFFF;
    font-size: 18px;
}
.enter p:hover{
    text-decoration: underline;
}
/*底部固定导航*/
#foot_All{
    display: none;
    position: fixed;
    z-index: 700;
}
.foot{
    width: 100%;
    position:fixed;
    background-color: #222222;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/*底部隐藏内容*/
.foot_contentLe{
    top: 16%;
    width: 100%;
    height: 286px;
    position: fixed;
    z-index: 600;
    background-color: #FFFFFF;
    display: none;
}
.first-content{
    border-bottom: 1px solid #E4E4E4;
    padding-top: 16px;
    padding-bottom: 12px;
    padding-left: 8px;
}
.first-content h3{
    font-size: 14px;
    padding-bottom: 2px;
}
.alone{
    color: #F66F6A;
}

/*底部内容*/
#foot_left p{
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 11px;
    font-size: 12px;
    cursor: pointer;
}
#foot_right p{
    color: #FFFFFF;
    padding-right: 11px;
    font-size: 12px;
    cursor: pointer;
}
/*底部右边隐藏内容*/
.foot_contentRi{
    display: none;
    top: 16%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 600;
    background-color: #FFFFFF;
    overflow-y: scroll;
    overflow-x: hidden;
}