*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
.carousel_All{
    height: 100%;
    cursor: pointer;
}
.carousel{
    position: relative;
    overflow: hidden;
    max-width: 1366px;
    width: 100%;
    margin: 78px auto;
    height: 560px;
}
.img{
    top: 0;
    left: 0;
    position: absolute;
}
.img li{
    float: left;
}
.carousel_add01{
    position: absolute;
    width: 10%;
    height: 26%;
    top: 27%;
    left: 7%;
    /*background-color: #3CBEDE;*/
    text-align: center;
}
.carousel_add01>p{
    font-size: 18px;
    padding-top:12%;
}
.carousel_add01 i{
    padding-left: 1%;
    transition: all 1s;
    display: inline-block;
}
.carousel_add01:hover i{
    padding-left: 5%;
}
.carousel_add02{
    position: absolute;
    width: 4%;
    height: 8%;
    top: 30%;
    left: 35.5%;
    /*background-color: #de9389;*/
    text-align: center;
}
.carousel_add02 p{
    padding-top: 12px;
    font-size: 18px;
}
.carousel_add02 i{
    padding-left: 2%;
    transition: all 0.5s;
}
.carousel_add02:hover i{
    padding-left: 5%;
}
.carousel_add03{
    position: absolute;
    width: 7%;
    height: 40%;
    top: 15%;
    left: 52.5%;
    /*background-color: #a2bbde;*/
    /*text-align: center;*/
}
.carousel_add03 h1{
    color: #FFFFFF;
    font-size: 41px;
    padding-top: 3%;
}
.carousel_add03 p{
    font-size: 26px;
    color: floralwhite;
    padding-top: 9%;
}
.carousel_add03 i{
    padding-left: 2%;
    transition: all 0.5s;
}
.carousel_add03:hover i{
    padding-left: 5%;
}
/*按钮*/
.num{
    position: absolute;
    bottom: 16%;
    z-index: 200;
    margin-left: 16%;
    /* width: 100%; */
    /* text-align: center; */
}
.num li{
    width: 14px;
    height: 14px;
    background:rgba(0,0,0,0.5);
    border-radius: 100%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}
.num .active{
    background-color: #FFFFFF;
}
.btn{
    display: block;
}
.btn span{
    display: block;
    width:10%;
    height:100%;
    font-size: 40px;
    text-align: center;
    cursor:pointer;
}
.btn .prev{
    position: absolute;
    left: 0;
    top: 0;
}
.prev img{
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -48px;
    left: 14%;
}
.prev:hover img{
    display: block;
}
.btn .next{
    position: absolute;
    right: 0;
    top: 0;
}
.next img{
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -48px;
    right: 14%;
}
.next:hover img{
    display: block;
}