*{
    margin: 0;
    padding: 0;
}
/*主页面整体内容*/
#layout{
    height: 100%;
}




/*导航*/
.nav-wrap{
    background-color: #222222;
    height: 28px;
    line-height: 28px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#nav-left{
    width: 32%;
    text-align: center;

}
#nav-right{
    width: 41%;
    text-align: center;
}
#nav-right span:hover{
    text-decoration: underline;
}
.nav-wrap p{
    color: white;
    font-size: 12px;
    cursor: pointer;
}
/*集成网站隐藏内容*/
#nav_hiddenAll{
    display: none;
    /*position:fixed;*/
    /*z-index: 999;*/
}
.nav_hiddenSites{
    width: 75.5%;
    /*background-color: gray;*/
    margin:0 auto;
}
.group_website{
    float: left;
    width: 18.3%;
    /*background-color: pink; */
    height: 80px;
    padding: 40px 22px;
}
.group_website h3{
    font-size: 14px;
    cursor: pointer;
}
.group_website p{
    padding-top: 10px;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}
.alter{
    color: #F66F6A;
}
.group_website img{
    width: 4%;
    height: 4%;
    padding: 0 6px;
    transition: all 0.3s;
    cursor: pointer;
}
.group_website img:hover {
    padding: 0 20px;
}
/*区域语言隐藏内容*/
#nav_hiddenEntire{
    display: none;
    margin: 0 auto;
    padding-bottom: 45px;
    /*position:relative;*/
    /*z-index: 999;*/
}
.nav_write{
    width: 18%;
    float: left;
    padding-top: 20px;
}
.nav_write p{
    padding-top: 20px;
    padding-left: 17px;
}
.nav_write span{
    text-decoration: underline;
}

.nav_language{
    width: 73%;
    margin: 0 auto;
}
.nav_title{
    padding-top: 30px;
}






/*nav的媒体查询*/
@media screen and (max-width: 990px){
    /*图标显示*/
    #fold{
        display: block;
    }
    /*黑色导航条*/
    .nav-wrap{
        visibility: hidden;
    }
    .nav_hiddenSites{
        display:none;
    }
    .nav_hiddenEntire{
        display:none;
    }
    .outer-endImg{
        width: 13%;
    }
    .outer-img{
        width: 21%;
    }
    /*悬浮导航中间内容消失*/
    .chunk_hidden{
        visibility: hidden;
    }
    /*!*第二页面显示*!*/
    /*.additional_page{*/
        /*display: block;*/
    /*}*/
    /*悬浮导航固定*/
    #outer-All{
        top: 0px;
        position: fixed;
    }
    /*换行图片*/
    .newline_pictures{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 1200px;
    }
    /*第一幅图片*/
    .newline_picturesO{
        width: 100%;
        height: 45%;
    }
    /*第一幅图片内容*/
    .newline_blue{
        width: 100%;
        height: 80%;
        position: relative;
        background-color: #3CBEDE;
    }
    .newline_center{
        /*width: 38%;*/
        top: 6%;
        right: 10%;
        /* left: 12%; */
        position: absolute;
        /* height: 50%; */
    }
    .newline_{
        position: absolute;
        /* top: 14%; */
        right: 10%;
        width: 30%;
    }
    /*第二幅图片*/
    .newline_picturesT{
        margin: 0 auto;
        width: 50%;
        height: 45%;
    }
    /*第二幅图片内容*/
    .joint_All{
        width: 100%;
        height: 100%;
        /*background-color: #DDE6ED;*/
        /*border-radius: 6px;*/
        /*cursor: pointer;*/
    }
    #joint_contentP{
        display: none;
    }
    .folding_word>img{
        width: 100%;
        height: 100%;
    }
    /*图片*/
    .story_content{
        width: 100%;
        flex-direction: column;
    }
    .story_book{
        width: 100%;
        height: 45%;
        margin-top: -2%;
    }
    .story_img{
        height: 21%;
        right: 5%;
        width: 29%;
    }
    .story_book:hover .story_img{
        margin-left: 0;
    }
    .story_box{
        margin-left: 0;
        width: 100%;
        height: 79%;
        margin-top:0;
    }
    .story_{
        top: 18%;
        height: 0%;
        /*background-color: slategrey;*/
        width: 50%;
        left: 2%;
    }
    #story_bottom{
        display: none;
    }
    .story_ h3{
        font-size: 16px;
    }
    ._Shuffling{
        width: 100%;
    }
    .footer{
        background-color: #F0F0F0;
    }
    .footer_left p{
        color: #000;
    }
    .footer_right p{
        color: black;
    }
    .footer_right span{
        color: #000;
    }
    .story-bottom{
        display: none;
    }
    .content_Shuffling01{
        display: none;
    }
    .footer_left{
        width: 53%;
        margin-left: 0;
    }
    .footer_right{
        width: 40%;
        margin-right: 0;
    }
}
/*2222222222*/
/*@media screen and (max-width: 775px){*/
    /*.story_content{*/
        /*width: 100%;*/
        /*flex-direction: column;*/
    /*}*/
    /*.story_book{*/
        /*width: 100%;*/
        /*height: 45%;*/
        /*margin-top: 0%;*/
    /*}*/
    /*.story_img{*/
        /*height: 21%;*/
        /*right: 5%;*/
        /*width: 29%;*/
    /*}*/
    /*.story_book:hover .story_img{*/
        /*margin-left: 0;*/
    /*}*/
/*}*/
/*换行图片*/
@media screen and (max-width: 760px){
    /*悬浮块*/
    .suspension_Add{
        bottom: -8%;
        margin-left: 12px;
        width: 95%;
        height: 220px;
        flex-direction: column;
    }
    .personage_Le{
        display: none;
    }
    .personage_Ri p{
        display: none;
    }
    .personage_Ri h2{
        display: block;
        /*padding-top: 10%;*/
        font-size: 20px;
        border-bottom: 1px solid black;
        /* width: 100%; */
        width: 500px;
    }
    .personage_Ri img{
        float: right;
        display: inline-block;
    }
    .personage_Ri{
        width: 8%;
        margin-top: 9%;
        border-right: none;
    }

    /*第二个图片*/
    .newline_picturesT {
        width: 100%;
        height: 600px;
        margin-top: 10%;
        /*background-color: #3CBEDE;*/
    }
    .newline_pictures{
        width: 100%;
    }
    .joint_All{
        width: 100%;
    }
    .joint_All>img{
        width: 100%;
    }
    .joint_content{
        width: 100%;
    }
    #last_p{
        padding-top: 7px;
    }
    .folding_word p{
        display: none;
    }
    .folding_word>img{
        width:100%;
    }
    .newline_{
        right: 25%;
    }
    .newline_ img{
        width: 100%;
        height: 100%;
    }

/*折叠屏手机*/
    .folding_Screen{
        width: 100%;
    }
    /*新闻*/
    .news{
        width: 100%;
        height: 1150px;
    }
    .news_c{
        height: 72%;
    }
    .news_All{
        width: 100%;
        /* flex-direction: column; */
        /* justify-content: space-around; */
        align-items: center;
        flex-wrap: wrap;
    }
    .news_content01{
        width: 100%;
        height: 42%;
        margin-left: 0;
        /* left: 5%; */
        /* margin-left: 6%; */
        /*background-color: pink;*/
    }
    .news_content02{
        width: 100%;
        height: 39%;
         margin-right: 0;
        margin-left: 2%;
        /*background-color: #729fff;*/
    }
/*隐藏文字*/
    #news_hiddenC {
        display: block;
        color: black;
        font-size: 18px;
        padding-top: 2%;
        padding-left: 1%;
    }
    /*关于*/
    .about{
        height: 1300px;
    }
    .about_Hw{
        width: 100%;
        /* border-bottom: 1px solid black; */
        height: 3%;
    }
    .about_Hw h3{
        padding-top: 5%;
    }
    .about_Hw ul li{
        padding-top: 0%;
    }
    .about_All{
        width: 95%;
    }
    .about_Hw ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about_Hw ul li{
        padding-top: 1%;
        width: 24%;
    }
    .about_enter{
         margin-top: 0%;
        width: 100%;
        height: 3%;
        /*background-color: #3CBEDE;*/
         margin-left:0%;
    }
    .about_img{
        float:left;
    }
    .about_img ul{
        display: flex;
    }
    .about_img ul li{
        padding-left: 80%;
    }
    /*11111*/
    .seamless_{
        width: 100%;
        left: 0;
    }
    .img_word{
        width: 100%;
        margin-left: 0;
    }
    .seamless_Shuffling{
        width: 95%;
        left:2%;
        margin-left: 0%;
    }
    .seamless_content{
        width: 100%;
        height: 80%;
        margin-top: 16%;
        background-color: #DCE6EE;
    }
    .seamless_img{
        width: 55%;
        height: 50%;
        left: 22%;
        position: absolute;
        margin-right: 0;
    }
    .seamless_d{
        width: 80%;
        text-align: center;
        margin: 27% auto;
    }
    .seamless_d:hover{
        text-decoration: underline;
    }
    #seam{
        padding-top: 0;
    }
    #seamless{
        display: none;
    }
    .footer{
        height: 100%;
        background-color: #F0F0F0;
    }

    .content_Shuffling01{
        display: none;
    }
    .story-bottom{
        display: none;
    }
}



