*{
    margin: 0;
    padding: 0;
}
#tab_All{
    position: fixed;
    width: 100%;
    left: 0;
    /* top: 102px; */
    /*top: 14%;*/
    display: none;
}
#nav{
    height: 50px;
    background-color: #F5F5F5;
    line-height: 50px;
}
#nav ul{
    display: block;
    /*width: 60%;*/
    /*background-color: #F66F6A;*/
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}
#container{
    border-top: 1px solid #C6C6C6;
    cursor: pointer;
}
#nav li{
    list-style: none;
    display: inline-block;
    width: 100px;
    color: #929292;
}
#nav li:hover{
    border-bottom: 4px solid #F66F6A;
}
/*#vav li:hover{*/
    /**/
/*}*/
.tab{
    width: 100%;
    height: 420px;
    background-color: #929292;
}
.tab_left{
    float: left;
    width: 73%;
    background-color: #F5F5F5;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /*align-items: center;*/
}
.tab_contentLeft{
    width: 16%;
    /* background-color: #8e8e86; */
    height: 78%;
    margin-top: 3%;
    margin-left: 2%;
}
.tab_contentLeft h3{
    font-size: 20px;
}
.tab_contentLeft p{
    height: 11%;
    padding-top: 7%;
}
.tab_contentLeft p:hover{
    text-decoration: underline;
}
.tab_contentLeft p:hover i{
    display: inline-block;
}
.tab_contentLeft i{
    display: none;
}

.span_Add{
    color: #F66F6A;
}
.span_Add:hover{
    text-decoration: underline;
}
.tab_right{
    width: 27%;
    float: left;
    height: 100%;
    background-color: #EBEBEB;
}
.tab_rightAdd{
    margin: 0 auto;
    /* background-color: #F66F6A; */
    width: 80%;
    height: 80%;
}
.tab_rightAdd h3{
    padding-top: 11%;
    font-size: 20px;
}
.tab_rightAdd p{
    height: 11%;
    padding-top: 4%;
}
.tab_rightAdd p:hover{
    text-decoration: underline;
}
.tab_rightAdd img{
    display: none;
}
.tab_rightAdd p:hover img{
    display: inline-block;
}
.span-two{
    color: #F66F6A;
}
.tab_bottom .span-two:hover{
    color: #F66F6A;
    text-decoration: underline;
    cursor: pointer;
}
.tab_bottom .span-one:hover{
    text-decoration: underline;
    cursor: pointer;
}
.tab_bottom i{
    opacity: 0;
}
.tab_bottom:hover i{
    opacity: 1;
}
/*第二部分左边内容*/
.tab_middleLeft{
    width: 71%;
    /*background-color: #F66F6A;*/
    height: 85%;
    display: flex;
    margin-left: 11%;
    justify-content: space-between;
    align-items: center;
}
._middle{
    width: 30%;
    height: 80%;
    margin-top: -38px;
    /*background-color: #8e8e86;*/
}
._middle h3{
    padding-top: 5%;
    font-size: 20px;
}
._middle p{
    height: 11%;
    padding-top: 11%;
}
._middle p:hover{
    text-decoration: underline;
}
._middle p:hover i{
    display: inline-block;
}
._middle i{
    display: none;
}
.middle_bottom{
    margin-top: -6%;
}

/*第三部分左边内容*/
#_middleP{
    font-size: 20px;
}
/*主页面内容*/
.story{
    margin-top: 8%;
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    height: 600px;
    /*background-color: pink;*/
}
.story_title{
    width: 82%;
    /*background-color: #3CBEDE;*/
    margin: 0 auto;
    height: 10%;
}
._Shuffling p{
    font-size: 22px;
}
._Shuffling h1{
    font-size: 36px;
}
/*内容*/
.story_content{
    width: 80%;
    height: 80%;
    margin:0 auto;
    /*background-color: gainsboro;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.story_book{
    width: 30%;
    height: 100%;
    /*background-color: darkred;*/
}
.story_img{
    width: 20%;
    height: 27%;
    margin-left: 0.9%;
    /* margin: 0 auto; */
    position: absolute;
    z-index: 500;
    border-radius: 6px;
    transition: all 0.1s;
}
.story_img img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    /*border-radius-topright: 6px;*/
}
.story_box{
    margin-top: 29%;
    height: 80%;
    width: 93%;
    margin-left: 4%;
    background-color: #DDE6ED;
    position: relative;
}
.story_book:hover .story_img{
    margin-left: -1% ;
}
.story_{
    position: absolute;
    top: 36%;
    /* height: 5%; */
    /*background-color: slategrey;*/
    width: 80%;
    left: 10%;
}
.story_ h3 {
    padding-top: 4%;
    font-size: 27px;
}
.story-bottom{
    padding-top: 26%;
    font-size: 21px;
}
.story-bottom img{
    padding-left: 2%;
    transition: all 0.2s;
}
.story_book:hover .story-bottom img{
    padding-left: 6%;
}



/*近b期新闻*/
#news_hiddenC{
    display: none;
    padding-top: 0;
}
.news{
    width: 90%;
    height: 600px;
    /*background-color: #3CBEDE;*/
    margin: 5% auto;
    cursor: pointer;
}
.news_All{
    width: 100%;
    height: 90%;
    /*background-color: #F66F6A;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.news_content01{
    width: 28%;
    height: 96%;
    /* left: 5%; */
    margin-left: 6%;
    /*background-color: pink;*/
}
.news_img{
    width: 100%;
    height: 45%;
    /*background-color: slategrey;*/
}
.news_img img{
    border-radius: 6px;
}
.news_c{
    width: 100%;
    height: 50%;
    background-color: #DDE6ED;
    border-radius: 6px;
}
.news_c img{
    transition: all 0.1s;
}
.news_c:hover img{
    padding-left: 5%;
}
.news_c span{
    color: #666666;
}
.news_c p{
    padding-top: 8%;
    padding-left: 14%;
    color: #666666;
}
.news_c h2{
    padding-top: 3%;
    padding-left: 13%;
}
.news_content02{
    width: 40%;
    height: 90%;
    margin-right: 9%;
    background-color: #FFFFFF;
}
ul{
    list-style: none;
}
.T{
    padding-top: 10%;
}
.s{
    font-size: 20px;
}
.s:hover{
    text-decoration: underline;
}
.color{
    color: #666666;
}
/*关于*/
.about{
    width: 100%;
    height: 800px;
    background-color: #F0F0F0;
    cursor: pointer;
}
.about_All{
    float: left;
    /*background-color: black;*/
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.about_img{
    float: right;
    width: 5%;
    /*height: 20%;*/
    margin-right: 5%;
    /*background-color: #3CBEDE;*/
}
.about_img ul{
    /*background-color: aliceblue;*/
    width: 56%;
}
.about_img li{
    padding-top: 38%;
}

.about_Hw{
    width: 18%;
    /* margin-left: -1%; */
    /*background-color: #3CBEDE;*/
    height: 42%;
}
.about_Hw h3{
    padding-top: 20%;
    font-size: 21px;
}
.about_Hw h3:hover{
    text-decoration: underline;
}
.about_Hw img{
    transition: all 0.2s;
}
.about_Hw:hover img{
    padding-left: 5%;
}
.about_Hw ul li{
    padding-top: 12%;
}
.about_Hw ul li:hover{
    text-decoration: underline;
}
.about_Hw ul li:hover i{
    opacity: 1;
}
.about_Hw i{
    opacity: 0;
    transition: all 0.5s;
    padding-left:3%;
}

.about_enter{
    /*margin-top: -15%;*/
    width: 100%;
    height: 13%;
    /*background-color: #3CBEDE;*/
    margin-left: 3.5%;
}
.about_enter h3{
    padding-top: 2%;
    font-size: 21px;
}
.about_enter ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about_enter h3:hover{
    text-decoration: underline;
}
.about_enter:hover img{
    padding-left: 5%;
}
.about_enter ul li{
    padding-top: 1%;
    width: 24%;
}
.about_enter ul li:hover{
    text-decoration: underline;
}
.about_enter ul li:hover i{
    opacity: 1;
}
.about_enter i{
    opacity: 0;
    transition: all 0.5s;
    padding-left:3%;
}


/*底部导航*/
.footer{
    /*width: 100%;*/
    height: 40px;
    line-height: 40px;
    background-color: black;
}
.footer_left{
    height: 100%;
    float: left;
    width: 40%;
    margin-left: 10%;
}
.footer_left p{
    display: inline;
    color: #FFFFFF;
    padding-left: 4%;
    padding-top: 4%;
}
.footer_right{
    height: 100%;
    float: right;
    width: 24%;
    margin-right: 7%;
}
.footer_right p{
    display: inline;
    color: #FFFFFF;
}
.footer_right span{
    padding-left: 3%;
    color: #FFFFFF;
}